doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        title !{coBitData.title}
        style body{ margin: 0}
            !{coBitData.css}
        !{coBitData.head}
    body
        !{coBitData.html}
    each item in coBitData.libraries
        script(src=item)
    script
        !{coBitData.js}